.list-card {
	align-self: center;
	margin: 5rem auto;
	background: rgb(255, 255, 255);
	width: fit-content;
	color: black;
	padding: 1rem;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: center;
	align-items: center;
}

.list-card ul {
	list-style: none;
}

.list-card ul li {
	display: flex;
	color: rgb(226, 226, 226);
	padding: 1rem 2rem;
	border-radius: 1rem;
	background: rgb(35, 34, 41);
	margin: 0.4rem 0;
	font-weight: 700;
	justify-content: center;
	align-items: center;
}

.list-card ul li .data {
	width: 100%;
}

.list-card ul li .img {
	min-width: 65px;
	min-height: 65px;
	background: #000;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	border-radius: 50%;
}

.list-card ul li .img img {
	width: 65px;
}

.list-card ul li .edit {
	display: flex;
	padding: 0 0 0 2rem ;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.list-card ul li span {
	font-weight: 100;
	font-size: 14px;
}
