.entity-card {
	background: rgb(236, 102, 102);
	width: fit-content;
	height: fit-content;
	color: white;
	display: flex;
	text-align: center;
	border-radius: 1.5rem;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}
a.entity {
	margin: 1.5rem;
	text-decoration: none;
}

.done {
	background: rgb(106, 236, 102);
}

.processing {
	background: rgb(222, 236, 102);
}
